/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

body
  font-family: "Montserrat",sans-serif

  .ui-post-title
    font-family: "Montserrat",sans-serif

#header
  background-color #4A81BD

  .title a
    color: #fff
  .nav-link
    color: #fff
  .nav-link:hover
    color: #fff